@model IEnumerable<MovieColoursFW4.ViewModels.Home.IndexViewModel>

@{
    ViewBag.Title = "ShowImages";
}


@foreach (var item in Model) {
        <div style="background-color:#@item.AverageColor.Hex; min-height:1px">

        </div>

}

